.StatsItem {
    width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    color: #000;
    font-weight: 300;
}

.StatsItem-header {
    background: #68217A;
    color: #000;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.StatsItem-content {
    padding: 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    line-height: 18px;
}

.StatsItem-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px 0;
    font-size: 12px;
    line-height: 18px;
}

.StatsItem-summary-icons {
    text-align: center;
}

.StatsItem-footer {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.name,
.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text {
    max-width: 120px;
}

.name-link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.name {
    display: inline-block;
    width: 100%;
}

.username {}

.reponame {
    font-size: 16px;
    line-height: 20px;
}