.CompareRatio {
  margin-top: 5vh;
  min-height: 80vh;
}

.CompareRatio-form {
  margin: 20px 0;
  text-align: center;
}

.CompareRatio-input,
.CompareRatio-input-long {

  box-sizing: border-box;
  margin: 10px 20px;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0, 0.12);
  outline: none;
  background-color: #fff;
  font-size: 14px;
}

.CompareRatio-input {
  width: 200px;
}
.CompareRatio-input-long {
  width: 400px;
}

.CompareRatio-hint {
  font-size: 11px;
}

.CompareRatio-button {
  padding: 10px 36px;
  border: 1px solid #50e3c2;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  background-color: #fff;
  color:#50e3c2;
}

.CompareRatio-button:hover {
  background-color: #50e3c2;
  color: #fff;
}

.CompareRatio-message {
  height: 25px;
  font-size: 18px;
  text-align: center;
}