.TileView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.TileView-item {
  position: relative;
  width: 250px;
  flex-basis: 250px;
  margin: 20px;
}

.TileView-item-remove {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  background: #E35071;
  color: #fff;
  font-weight: 100;
}