.RatioChart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  flex-basis: 800px;
  width: 800px;
  min-height: 80vh;
}

.RatioChart-loading {
  width: 1000px;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 16px;
}

.RatioChart-settings {
  width: 200px;
  flex-basis: 200px;
}

.RatioChart-add {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
