.RatioChart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80vh;
}

.RatioChart {
  width: 800px;
  flex-basis: 800px;
  flex-grow: 1;
}

.RatioChart-settings {
  width: 200px;
  flex-basis: 200px;
}

.RatioChart-add {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
