.RatioChart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  flex-basis: 800px;
  width: 800px;
  min-height: 80vh;
  font-weight: 300;
}

.RatioChart-card {
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  color: #000;
  font-weight: 300;
  font-size: 12px;
}

.RatioChart-loading {
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RatioChart-settings {
  width: 200px;
  flex-basis: 200px;
}

.RatioChart-settings select {
  font-weight: 100;
}

.RatioChart-add {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
