@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
}

input {
  font-weight: 100;
}

button {
  margin: 0;
  border: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  flex: 1 100%;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  margin: 25px 0;
}

h1 {
  margin: 0px;
  font-size: 32px;
}

h2 {
  margin: 25px 0;
  font-size: 32px;
}

h3 {
  margin: 0px;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}

h4 {
  margin: 10px;
  font-weight: 100;
  font-size: 18px;
}

.github-button-container {
  margin: 10px;
  text-align: center;
}

footer {
  font-size: 11px;
  text-align: center;
}

.footer-copyright {
  text-align: right;
  padding: 10px 0px;
}

.footer-copyright-link, .footer-copyright-link:visited {
  color: #000;
}


.octicon {
  width: 24px;
  text-align: center;
  vertical-align: bottom;
}

.octicon-star {
  color: #bbb;
}

.octicon-star:before {
  padding-left: 2px;
}

.octicon-cloud-download {
  color: #4078c0;
}

.octicon-git-pull-request {
  color: #6e5494;
}

.octicon-git-pull-request:before {
  padding-left: 4px;
}

.octicon-git-branch {
  color: #6cc644;
}

.octicon-git-branch:before {
  padding-left: 5px;
}

.octicon-issue-opened {
  color: #6cc644;
}

.octicon-issue-opened:before {
  padding-left: 2px;
}

.octicon-issue-closed {
  color: #bd2c00;
}

.octicon-arrow-right {
  width: 10px;
  color: #bbb;
}

.octicon-git-commit {
  color: #bbb;
}